---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---
<BaseLayout title="Contact">
  <ul class="space-y-2">
    <li>Telegram: <a class="text-blue-600" href="https://t.me/tgrobot24">t.me/tgrobot24</a></li>
    <li>Email: hello@botfather24.ru</li>
    <li>WhatsApp: on request</li>
  </ul>
</BaseLayout>
