---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="О компании">
  <p>Мы команда разработчиков, дизайнеров и продакт-менеджеров, которые помогают брендам и стартапам запускать проекты прямо внутри Telegram. Мы делаем Mini Apps быстрыми, красивыми и удобными для пользователей.</p>
</BaseLayout>
