---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---
<BaseLayout title="Process">
  <ol class="space-y-2 list-decimal list-inside">
    <li>Brief: goals & vision</li>
    <li>Design: Figma mockups, UX testing</li>
    <li>Development: integrations, QA</li>
    <li>Release: setup via @BotFather, launch</li>
    <li>Support: updates & optimization</li>
  </ol>
</BaseLayout>
