---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---
<BaseLayout title="About">
  <p>We are a team of developers, designers, and product managers helping brands and startups launch products directly inside Telegram. We deliver fast, beautiful, user-friendly Mini Apps.</p>
</BaseLayout>
