---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Контакты">
  <ul class="space-y-2">
    <li>Телеграм: <a class="text-blue-600" href="https://t.me/tgrobot24">t.me/tgrobot24</a></li>
    <li>Email: hello@botfather24.ru</li>
    <li>WhatsApp: по запросу</li>
  </ul>
</BaseLayout>
